@-moz-document url("chrome://browser/content/browser.xhtml") {
    /*
    .browserContainer.responsive-mode.left-aligned > .browserStack {
        grid-template-columns: 0px [left-align] var(--browser-viewport-width) 1fr !important;
    }
    .browserContainer.responsive-mode > .browserStack {
        grid-template-columns: 0px 1fr [center-align] var(--browser-viewport-width) 1fr !important;
        grid-template-rows: 28px [margin-top-offset] var(--browser-viewport-height) !important;
    }
    */

    /* region 禁止地址栏放大 */
    /* https://support.mozilla.org/zh-CN/questions/1289355 */
    #urlbar[breakout][breakout-extend],
    #urlbar[breakout][breakout-extend-disabled][open] {
        /*height: var(--urlbar-height) !important;*/
        width: 100% !important;
        /* since firefox 128 */
        /*top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;*/
        left: 0 !important;
    }

    #urlbar[breakout][breakout-extend] > #urlbar-input-container {
        height: var(--urlbar-height) !important;
        width: 100% !important;
        padding-block: unset !important;
        padding-inline: unset !important;
    }

    #urlbar[breakout][breakout-extend] > #urlbar-background {
        animation: none !important;
    }
        /* since firefox 128 */
    #urlbar[breakout][breakout-extend] {
  & > .urlbar-input-container {
    padding-inline: 1px !important;
  }
}
    /* endregion 禁止地址栏放大 */

    /* region Firefox 96 proton no media queries */
    /*@media (-moz-proton-contextmenus) {*/
        @media (-moz-windows-default-theme) and (-moz-os-version: windows-win10) {

            menupopup > menuitem,
            menupopup > menu {
                padding-block: 0.1em !important;
            }
            #context-navigation:not([hidden]) {
                padding-bottom: 0 !important;
            }
        }
    /*}*/
    /*@media (-moz-proton) {*/

        /* region 禁止地址栏放大 */
        #urlbar[breakout][breakout-extend] > #urlbar-input-container {
            padding-block: 0 !important;
            padding-inline: var(--urlbar-container-padding) !important;
        }
        /* endregion 禁止地址栏放大 */

        /* region 标签栏 */
        #scrollbutton-down, #scrollbutton-up {
            border: 0 !important;
        }
        #TabsToolbar {
            background-color: #0078D7;
            color: #fff;
        }
        #TabsToolbar:-moz-window-inactive {
            color: black;
            background-color: #62ADF2;
        }
        .tab-background {
            margin-block-start: 1px !important;
            margin-block-end: 0 !important;
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
        vbox.tab-background[multiselected=true],
        vbox.tab-background[selected=true] {
            background-repeat: repeat-x !important;
            background-color: var(--toolbar-bgcolor) !important;
        }
        /* endregion 标签栏 */

        /* region 压缩高度的菜单 */
        /* firefox 91 */
        @media (-moz-windows-non-native-menus) {
            menupopup > menuitem, menupopup > menu {
                padding-block: 0.1em !important;
            }
            menupopup[needsgutter] menu:not([icon], .menu-iconic),
            menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic) {
                padding-inline-start: 1.3em !important;
            }
        }
        .subview-subheader,
        panelview .toolbarbutton-1,
        .subviewbutton,
        .widget-overflow-list .toolbarbutton-1 {
            padding: 0.4em !important;
        }
        #toolbar-menubar:not([inactive=true]) {
            height: auto !important;
        }
        #main-menubar {
            transform: translateY(25%);
        }
        /* endregion 压缩高度的菜单 */

        #urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background {
            border: none !important;
        }
    /*}*/

    /* endregion Firefox 89 proton */
    /* region Firefox 109 large ui padding */
    :root {
        --toolbarbutton-inner-padding: 6px !important;
        --toolbarbutton-border-radius: 1px !important;
    }
    toolbar .toolbaritem-combined-buttons {
        margin-inline: 0 !important;
        padding-inline: 2px !important;
    }
    .titlebar-spacer[type="pre-tabs"], .titlebar-spacer[type="post-tabs"] {
        display: none;
    }
    /* endregion Firefox 109 large ui padding */

    /* region Firefox 120 large ui padding */
    @media (-moz-platform: windows) {
	  
            menupopup > menuitem,
            menupopup > menu {
                padding-block: 0 !important;
            }
            #context-navigation:not([hidden]) {
                padding-bottom: 0 !important;
            }
    }
	
			@media (-moz-platform: windows) {
  menupopup > menuitem, menupopup > menu {
    padding-inline-start: 1em !important;
  }
}
	menupopup[needsgutter] menu:not([icon], .menu-iconic), menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic) {
  padding-inline-start: 1em !important;
}
    /* endregion Firefox 120 large ui padding */
}

/* region 更清晰的 canvas */
@-moz-document
url-prefix('http://'),
url-prefix('https://'),
url-prefix('ftp://'),
url-prefix('file://') {
    canvas[style*="width"] {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }
}
/* endregion 更清晰的 canvas */

#advancedPanelButtonContainer > .exceptionDialogButtonContainer > #exceptionDialogButton[hidden] {
    display: block;
}
