@-moz-document url("chrome://browser/content/browser.xhtml") {
    /*
    .browserContainer.responsive-mode.left-aligned > .browserStack {
        grid-template-columns: 0px [left-align] var(--browser-viewport-width) 1fr !important;
    }
    .browserContainer.responsive-mode > .browserStack {
        grid-template-columns: 0px 1fr [center-align] var(--browser-viewport-width) 1fr !important;
        grid-template-rows: 28px [margin-top-offset] var(--browser-viewport-height) !important;
    }
    */

    /* region 禁止地址栏放大 */
    /* https://support.mozilla.org/zh-CN/questions/1289355 */
    #urlbar[breakout][breakout-extend],
    #urlbar[breakout][breakout-extend-disabled][open] {
        /*height: var(--urlbar-height) !important;*/
        width: 100% !important;
        top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
        left: 0 !important;
    }

    #urlbar[breakout][breakout-extend] > #urlbar-input-container {
        height: var(--urlbar-height) !important;
        width: 100% !important;
        padding-block: unset !important;
        padding-inline: unset !important;
    }

    #urlbar[breakout][breakout-extend] > #urlbar-background {
        animation: none !important;
    }
    /* endregion 禁止地址栏放大 */
}

/* region FloatingScrollbar.uc.js
/* Note: this would break websites with modal box or other floating content on the top of scrollable content

 @name           FloatingScrollbar.uc.js
 @namespace      nightson1988@gmail.com
 @include        main
 @version        fix 70+
 @version        fix 67+，修正在微信网页版，暴力猴编辑器上的滚动条错误 by @runningcheese
 @version        0.0.3
 @note           Thanks to Griever(https://github.com/Griever/userChromeJS/blob/master/SmartScrollbar.uc.js) and Paul Rouget(https://gist.github.com/4003205)
 @note           0.0.3 Fixed a problem of breaking hbox layout
 @note           0.0.2 Remove usage of E4X (https://bugzilla.mozilla.org/show_bug.cgi?id=788293)

@-moz-document regexp("((?!wx2.qq.com).)*") {
    scrollbar {
        -moz-appearance: none !important;
        position: relative;
        background-color: transparent;
        background-image: none;
        z-index: 100000;
        padding: 0px;
    }
    scrollbar[orient = "vertical"] {
        -moz-margin-start: -12px;
        min-width: 12px;
    }
    scrollbar[orient = "vertical"] thumb {
        min-height: 50px;
    }
    scrollbar[orient = "horizontal"] {
        margin-top: -12px;
        min-height: 12px;
    }
    scrollbar[orient = "horizontal"] thumb {
        min-width: 50px;
    }
    scrollbar thumb {
        -moz-appearance: none !important;
        border-width: 0px !important;
        border-radius: 5px !important;
        background-color: rgba(0, 0, 0, 0.2) !important;
    }
    scrollbar:hover thumb {
        background-color: #9B9B9B !important;
    }
    scrollbar:active thumb {
        background-color: #9B9B9B !important;
    }
    scrollbar scrollbarbutton, scrollbar gripper {
        display: none;
    }
}

@-moz-document url-prefix("moz-extension://") {
    scrollbar {
        z-index: 2000 !important;
    }
}

 endregion FloatingScrollbar.uc.js */